<div class="w-full">
  <div class="w-full border rounded-lg">
    <div class="py-3 px-6 text-lg font-semibold border-b">
      <span>Customization</span>
    </div>
    <div class="flex flex-col p-6 gap-4">
      <div>
        <div class="text-lg font-semibold">
          <span>Theme</span>
        </div>
        <div class="text-md text-gray-600">
          <span>Customise how system looks on your device</span>
        </div>
      </div>
      <div>
        <bcm-segment-picker default-value="blue" id="color-picker" kind="outline">
          <bcm-segment-picker-item value="blue">
            <div class="h-5 w-5 rounded-full bg-blue-500"></div>
            Blue
          </bcm-segment-picker-item>
          <bcm-segment-picker-item value="emerald">
            <div class="h-5 w-5 rounded-full bg-emerald-500"></div>
            Emerald
          </bcm-segment-picker-item>
          <bcm-segment-picker-item value="amber">
            <div class="h-5 w-5 rounded-full bg-amber-500"></div>
            Amber
          </bcm-segment-picker-item>
          <bcm-segment-picker-item value="red">
            <div class="h-5 w-5 rounded-full bg-red-500"></div>
            Red
          </bcm-segment-picker-item>
        </bcm-segment-picker>
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-end p-6">
    <bcm-button icon="fa-solid fa-save" onclick="saveSettings()" class="mt-4"> Save </bcm-button>
  </div>
</div>
