<div class="w-full space-y-4">
  <bcm-input label="Report Title" tooltip="Report Title" value="Staff List - Autumn 2023" full-width></bcm-input>

  <bcm-input label="Report Description" tooltip="Report Description" value="Detailed Staff List of Autumn 2023" full-width></bcm-input>

  <bcm-input id="folder-name" label="Folder Name" tooltip="Folder Name" value="Modal Report" type="select" full-width></bcm-input>

  <bcm-input label="Access Permissions" tooltip="Access Permissions" value="Inherit Folder Permissions" type="select" full-width></bcm-input>
</div>
